@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Montserrat&family=Poppins:ital,wght@0,100;1,200&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; 
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
}

a.active {
    color: black;
}

.icon {
    height: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    background-color: rgb(37, 120, 147);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(37, 120, 147);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-menu {
    background-color: #3498db; 
    color: white;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    gap: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
}

.nav-menu a {
    background-color: #3498db; 
    color: white;
    border-radius: 20px; 
    padding: 10px 20px; 
    text-decoration: none;
}

.nav-logo {
    width: 105px;
    background-color: rgb(18, 56, 76);
}

.nav-cart {
    background-color: rgb(133, 119, 119);
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.nav-cart span {
    background-color: rgb(37, 120, 147);
    color: white;
    display: flex;
    align-items: center;
}

.nav a {
    background-color: rgb(28, 109, 159);
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    margin-top: 4rem;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    margin: 1rem;
    border: 2px solid #3498db; 
    padding: 10px; 
}


.item-card-img {
    width: 200px;
}


.detail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
}

.detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 2rem;
    max-width: 800px;
}

.detail-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

.detail-card p {
    margin-top: 2rem;
}

.detail-card-img {
    width: 259px;
}

.detail-count {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.detail-count span {
    margin: 1rem;
}

.detail-count button {
    background-color: #3884bf; 
    color: white;
    font-size: 2rem;
    width: 3rem;
    border-radius: 50%; 
    padding: 10px; 
}
